<div id="header">
          <div class="nav">
	      
               <p> NOMAD</p>
          </div>
     </div>
</br><br>
<br><br>
<center>
	<h>Welcome!</h><br><br>
	<div class="button"><a href="chart/index">Click to View Recent Sales Trends</a></div></center>

<!-- The iframe shows the same truck every time -->
	<iframe src="chart/index?uid=jIOfeeaVUL" width='1000' height='1000'></iframe>